<div class="card">
  <div class="card-body text-center">
    <%= form_with url: boutique_path, method: :get do |form| %>
    <div class="row boutique-filter-row">
    <div class="col-12 col-md-3">
      <%= form.label :tri, "Trier:", class:"form-label" %>
      <%= form.select :tri, @tri,selected:request.query_parameters[:tri], class:"form-select" %>
      </div>
    <div class="col-12 col-md-3">
            <%= form.label :category, "Cagétorie:", class:"form-label" %>
      <%= form.select :category, @categories,selected:request.query_parameters[:category], class:"form-select" %>
</div>
    <div class="col-12 col-md-3">
      <%= form.label :subcategory, "Sous-catégorie:", class:"form-label" %>
      <%= form.select :subcategory, @subcategories,selected:request.query_parameters[:subcategory], class:"form-select" %>
    </div>
    <div class="col-12 col-md-3">
      <%= form.text_field :query, placeholder:"Chercher par nom", value:request.query_parameters[:query] %>
      <%= form.submit "Filtrer" , class:"btn btn-primary btn-sm" %>
      </div>
      </div>
    <% end %>
  </div>
</div>
<div class="row boutique-card " style="background-color: <%= get_value('row_color')%>;">
  <% @products.each do |product| %>
    <div class="col-12 col-md-4">
      <div class="card card-boutique">
        <h5 class="card-title"><strong><%= product.name %></h5></strong>
        <div class="card-body">
        <div class="row prod-row">
        <div class="column prod-col ">
          <div class="boutique-img">
            <% if product.image.attached? %>
              <%= link_to image_tag(product.image, class:"boutique-img"), boutique_produit_path + "?id=" + product.id.to_s %>
            <% else %>
              <%= link_to image_tag("noimage.png", class:"boutique-img"), boutique_produit_path + "?id=" + product.id.to_s %>
            <% end %>
          </div>
          </div>
          <div class="column prod-col">
          <p class="card-text"><%= product.subcategory.name + " " + product.category.name %> </p>

          <% if current_user != nil %>
            <% if is_wished(product.id) != nil %>
              <%= button_to "❤️", wishlist_path(:id => is_wished(product.id).id), :method => :delete , class:"btn btn-danger btn-sm" %>
            <% else %>
              <%= form_with(model: @wishlist, :as => :post, :url => wishlists_path) do |form| %>
                <%= form.hidden_field :product_id, :value => product.id %>
                <%= form.submit "❤️", class:"btn btn-success btn-sm" %>
              <% end %>
            <% end %>
          <% end %>
                    <p class="card-text">PRIX : <%= product.price %> CHF</p>
          </div>
          </div>
          <%= form_with(model: @line_item, :as => :post, :url => line_items_path) do |form| %>
            <% if product.quantity > 0%>
              <%= form.select :quantity, options_for_select(1..product_quantity_cart(session_cart, product.id)), class:"form-select" %>
            <% else %>
              <%= form.select :quantity, options_for_select(1..100), class:"form-select" %>
            <% end %>
            <%= form.hidden_field :product_id, :value => product.id %>
            <% if product.date > Date.today %>
              <%= form.submit "Précommander", class:"btn btn-warning btn-sm" %>
            <% elsif product.quantity > 0 %>
              <%= form.submit "Ajouter au panier", class:"btn btn-primary btn-sm" %>
            <% elsif product.available %>
              <%= form.submit "Sur commande", class:"btn btn-warning btn-sm" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <%= paginate @products %>
</div>