<div class="card text-center">
  <header class="card-header text-center fs-2"><%= @product.name %></header>
  <div class="card-body">
    <div class="columns">
      <div class="column">
        <div class="boutique-img">
          <% if @product.image.attached? %>
            <%= image_tag @product.image, alt:"noimage", class:"boutique-img" %>
          <% else %>
            <%= image_tag "noimage", class:"boutique-img" %>
          <% end %>
        </div>
      </div>
      <div class="column">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Date de sortie:</strong> <%= @product.date.strftime('%d/%m/%Y') %></li>
          <li class="list-group-item"><strong>Catégorie:</strong> <%= @product.category.name %></li>
          <li class="list-group-item"><strong>Sous-catégorie:</strong> <%= @product.subcategory.name %></li>
          <li class="list-group-item"><strong>Quantité disponible:</strong>
            <% if @product.quantity < 0 %>
              0 
            <% else %>
              <%= @product.quantity %>
            <% end %>
          </li>
          <li class="list-group-item"><strong>Prix:</strong> <%= @product.price %> CHF</li>
          <li class="list-group-item"><%= form_with(model: @line_item, :as => :post, :url => line_items_path) do |form| %>
              <% if @product.quantity > 0%>
                <%= form.select :quantity, options_for_select(1..product_quantity_cart(session_cart, @product.id)), class:"form-select" %>
              <% else %>
                <%= form.select :quantity, options_for_select(1..100), class:"form-select" %>
              <% end %>            <%= form.hidden_field :product_id, :value => @product.id %>
              <% if @product.date > Date.today %>
                <%= form.submit "Précommander", class:"btn btn-warning" %>
              <% elsif @product.quantity > 0 %>
                <%= form.submit "Ajouter au panier", class:"btn btn-primary" %>
              <% elsif @product.available %>
                <%= form.submit "Sur commande", class:"btn btn-warning" %>
              <% end %>
            <% end %>
          </li>
          <li class="list-group-item">
            <% if current_user != nil %>
              <% if is_wished(@product.id) != nil %>
                <%= button_to "💖", wishlist_path(:id => is_wished(@product.id).id), :method => :delete , class:"btn btn-light" %>
              <% else %>
                <%= form_with(model: @wishlist, :as => :post, :url => wishlists_path) do |form| %>
                  <%= form.hidden_field :product_id, :value => @product.id %>
                  <%= form.submit "🤍", class:"btn btn-light" %>
                <% end %>
              <% end %>
            <% end %>
          </li>
        </div>
      </div>
      <div class="card-body">
        <div class="card-title text-center fs-4 "> DESCRIPTION </div>
        <div class="card-text"><%= simple_format h(@product.description) %></div>
      </div>
    </div>
  </div>
