<%= render 'navtab' %>
<p id="notice"><%= notice %></p>
<h1>Utilisateurs</h1>
<div class="card">
  <div class="card-body">
    <%= form_with url: users_path, method: :get do |form| %>
      <%= form.text_field :user_id, placeholder:"Chercher par numéro" %>
      <%= form.text_field :user_name, placeholder:"Chercher par nom" %>
      <%= form.text_field :user_mail, placeholder:"Chercher par mail" %>
      <%= form.submit "Filtrer", class:"btn btn-primary" %>
    <% end %>
  </div>
</div>
<table class="table table-bordered table-striped">
  <thead class="table-dark">
    <tr>
      <th>Id</th>
      <th>Email</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Code postal</th>
      <th>Addresse</th>
      <th>Administrateur</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.postal_code %></td>
        <td><%= user.address %></td>
        <td>
          <% if user.is_admin %>
            Oui
          <% else %>
            Non
          <% end %>
        </td>
        <td><%= link_to '🔎', user %></td>
        <td><%= link_to '✏️', edit_user_path(user) %></td>
        <td><%= link_to '🗑️', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @users %>

<br>
<%= link_to 'Crée utilisateur', new_user_path, class:"btn btn-dark"  %>
