<%= link_to image_tag(get_image('character1'), class:"characters"), get_value('character1') %>
<%= link_to image_tag(get_image('character2'), class:"characters"), get_value('character2') %>
<%= link_to image_tag(get_image('character3'), class:"characters"), get_value('character3') %>
<%= link_to image_tag(get_image('character4'), class:"characters"), get_value('character4') %>
<div class="row" style="background-color: <%= get_value('row_color')%>;">
  <div class="text-center">
    <h1>Bienvenue chez Le Loupbar</h1>
    <h3><%= simple_format h(get_value('home_welcome')) %></h3>
    <br>
  </div>
  <div class="col-12 col-md-6 text-center">
    <% if @products.length > 0 %>
      <h1> Dernières sorties </h1>
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card card-boutique bg-light">
              <h5 class="card-title"><%= @products[0].name %></h5>
              <div class="card-body">
                <div class="boutique-img">
                  <% if @products[0].image.attached? %>
                    <%= link_to image_tag(@products[0].image, class:"boutique-img"), boutique_produit_path + "?id=" + @products[0].id.to_s %>
                  <% else %>
                    <%= link_to image_tag("noimage.png", class:"boutique-img"), boutique_produit_path + "?id=" + @products[0].id.to_s %>
                  <% end %>
                </div>
                <p class="card-text">PRIX : <%= number_to_currency(@products[0].price, unit:"CHF", format: "%n %u", delimiter:"'") %></p>
              </div>
            </div>
          </div>
          <% @products.drop(1).each do |product| %>
            <div class="carousel-item ">
              <div class="card card-boutique bg-light">
                <h5 class="card-title"><%= product.name %></h5>
                <div class="card-body">
                  <div class="boutique-img">
                    <% if product.image.attached? %>
                      <%= link_to image_tag(product.image, class:"boutique-img"), boutique_produit_path + "?id=" + product.id.to_s %>
                    <% else %>
                      <%= link_to image_tag("noimage.png", class:"boutique-img"), boutique_produit_path + "?id=" + product.id.to_s %>
                    <% end %>
                  </div>
                  <p class="card-text">PRIX : <%= number_to_currency(product.price, unit:"CHF", format: "%n %u", delimiter:"'") %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <% end %>
  </div>
  <div class="col-12 col-md-6 text-center">
    <% if @events.length > 0 %>
      <h1>Évènements de la semaine</h1>
      <div id="carouselEventsControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card card-boutique bg-light">
              <h5 class="card-title"><%= @events[0].name %></h5>
              <div class="card-body">
                <div class="boutique-img">
                  <% if @events[0].image.attached? %>
                    <%= link_to image_tag(@events[0].image, class:"boutique-img"), evenements_evenement_path + "?id=" + @events[0].id.to_s %>
                  <% else %>
                    <%= link_to image_tag("noimage.png", class:"boutique-img"), evenements_evenement_path + "?id=" + @events[0].id.to_s %>
                  <% end %>
                </div>
                <p class="card-text">Date : <%= @events[0].date.strftime('%d/%m/%Y') %> Heure : <%= @events[0].time %></p>
              </div>
            </div>
          </div>
          <% @events.drop(1).each do |event| %>
            <div class="carousel-item ">
              <div class="card card-boutique bg-light">
                <h5 class="card-title"><%= event.name %></h5>
                <div class="card-body">
                  <div class="boutique-img">
                    <% if event.image.attached? %>
                      <%= link_to image_tag(event.image, class:"boutique-img"), evenements_evenement_path + "?id=" + event.id.to_s %>
                    <% else %>
                      <%= link_to image_tag("noimage.png", class:"boutique-img"), evenements_evenement_path + "?id=" + event.id.to_s %>
                    <% end %>
                  </div>
                  <p class="card-text">DATE : <%= event.date.strftime('%d/%m/%Y') %> Heure : <%= event.time %> </p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselEventsControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselEventsControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <% else %>
      <h1>Pas d'évènement cette semaine</h1>
    <% end %>
  </div>
  <div class="col-12 col-md-6 text-center">
    <h1> FACEBOOK </h1>
    <p class="iframe-mobile" ><iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FLeloupbarRey%2F&tabs=timeline&width=300&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="300" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe></p>
  </div>
  <div class="col-12 col-md-6 text-center map">
    <h1>MAP</h1>
    <iframe
  width=100%
  height=100%
  style="border:0"
  loading="lazy"
  allowfullscreen
  src="https://www.google.com/maps/embed/v1/place?key=<%= Rails.application.credentials.dig(:google, :api) %>
    &q=Leloupbar, Route de Praz-Repos, Jorat-Mézières">
    </iframe>
  </div>
</div>
