<%= render 'navtab' %>
<p id="notice"><%= notice %></p>
<h1>Commandes</h1>
<div class="card">
  <div class="card-body">
    <%= form_with url: orders_path, method: :get do |form| %>
      <%= form.text_field :order_number, placeholder:"Numéro commande" %>
      <%= form.text_field :customer_name, placeholder:"Nom client" %>
      <%= form.submit "Filtrer", class:"btn btn-primary" %>
      <%= link_to "En cours", orders_path + "?notfinished=true",  class:"btn btn-primary" %>
    <% end %>
  </div>
</div>
<table class="table table-bordered table-striped">
  <thead class="table-dark">
    <tr>
      <th>Numéro</th>
      <th>Date</th>
      <th>Client</th>
      <th>Réduction</th>
      <th>Livraison</th>
      <th>Suivi</th>
      <th>Type de paiement</th>
      <th>État Paiement</th>
      <th>État commande</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.created_at.in_time_zone("Paris").to_s[0,19] %></td>
        <td><%= order.user.first_name + " " + order.user.last_name %></td>
        <td><%= order.discount %></td>
        <td><%= order.shipping %></td>
        <td><%= order.tracking %></td>
        <td><%= order.payment %></td>
        <td><%= order.is_paid %></td>
        <td><%= order.is_ready %></td>
        <td><%= link_to '🔎', order %></td>
        <td><%= link_to '✏️', edit_order_path(order) %></td>
        <td><%= link_to '🗑️', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @orders %>
