  <!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Leloupbar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <h1> Commande <%= @order.id %> </h1>
  <div class="row">
    <div class="col-12 col-md-12 text-center">
      <div class="card">
        <div class="card-header">
          <strong>Adresse de livraison</strong>
        </div>
        <div class="card-body">
          <%= @order.user.first_name + " " + @order.user.last_name%><br>
          <%= @order.user.address%><br>
          <%= @order.user.city%><br>
          <%= @order.user.postal_code%><br>
          Suisse<br>
          Téléphone : <%= @order.user.phone%><br>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="card">
  <ul class="list-group list-group-flush">
    <% if @order.discount != nil %>
      <li class="list-group-item"><strong>Réduction:</strong> <%= number_to_currency(@order.discount, unit:"CHF", format: "%n %u", delimiter:"'") %></li>
    <% end %>
    <li class="list-group-item"><strong>Type de paiement:</strong> <%= @order.payment %> <strong>Livraison:</strong> <%= @order.shipping %></li>
    <% if @order.shipping == 'poste' %>
      <li class="list-group-item"><strong>Suivi:</strong> <%= @order.tracking %></li>
      <li class="list-group-item"><strong>Frais de livraison:</strong> 7.00 CHF</li>
    <% end %>
    <li class="list-group-item"><strong>Commentaire Boutique:</strong> <%= @order.comment_shop %></li>
    <li class="list-group-item"><strong>Etat paiement:</strong> <%= @order.is_paid %> <strong>Etat commande:</strong> <%= @order.is_ready %></li>
    <li class="list-group-item"><strong>Prix total:</strong> <%=  number_to_currency(@totalOrderDiscount, unit:"CHF", format: "%n %u", delimiter:"'") %></li>
    <li class="list-group-item">
      <h3>Détail de la commande</h3>
      <table class="table table-bordered table-striped">
        <thead class="table-dark">
          <tr>
            <th>Produit</th>
            <th>Quantité</th>
            <th>Prix Unitaire</th>
            <th>Prix Total</th>
          </tr>
        </thead>
        <% @order.buys.each do |buy| %>
          <tr>
            <td><%= link_to buy.product.name, boutique_produit_path + "/?id=" + buy.product.id.to_s %></td>
            <td><%= buy.quantity %></td>
            <td><%= number_to_currency(buy.price, unit:"CHF", format: "%n %u", delimiter:"'") %></td>
            <td><%= number_to_currency(buy.price * buy.quantity, unit:"CHF", format: "%n %u", delimiter:"'")  %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
  </html>
