<%= render 'navtab' %>
<div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>Numéro de commande:</strong> <%= @order.id %></li>
    <li class="list-group-item"><strong>Client:</strong> <%= @order.user.first_name + " " + @order.user.last_name  %></li>
    <li class="list-group-item"><strong>Prix total:</strong> <%= number_to_currency(@totalOrder, unit:"CHF", format: "%n %u", delimiter:"'") %></li>
    <li class="list-group-item"><strong>Réduction:</strong> <%= number_to_currency(@order.discount, unit:"CHF", format: "%n %u", delimiter:"'") %></li>
    <li class="list-group-item"><strong>Livraison:</strong> <%= @order.shipping %></li>
    <li class="list-group-item"><strong>Suivi:</strong> <%= @order.tracking %></li>
    <li class="list-group-item"><strong>Adresse:</strong> <%= @order.user.address %></li>
    <li class="list-group-item"><strong>Code postal:</strong> <%= @order.user.city.to_s + @order.user.postal_code.to_s %></li>
    <li class="list-group-item"><strong>Type de paiement:</strong> <%= @order.payment %></li>
    <% if @order.shipping == 'poste' %>
    <li class="list-group-item"><strong>Frais de livraison:</strong> 7.00 CHF</li>
    <% end %>
    <li class="list-group-item"><strong>Prix total après réduction:</strong> <%=  number_to_currency(@totalOrderDiscount, unit:"CHF", format: "%n %u", delimiter:"'") %></li>
    <li class="list-group-item"><strong>Etat paiement:</strong> <%= @order.is_paid %></li>
    <li class="list-group-item"><strong>Etat commande:</strong> <%= @order.is_ready %></li>
    <li class="list-group-item">
      <div class="status-paiement">
        <%= form_with(model: @order, :as => :put, :url => order_path) do |form| %>
          <%= form.hidden_field :is_paid, :value => 'attente' %>
          <% if @order.is_paid == 'attente' %>
            <%= form.label "paiement en attente", class:"btn btn-warning" %>
          <% else %>
            <%= form.submit "paiement en attente", class:"btn btn-primary" %>
          <% end %>
        <% end %>
        <%= form_with(model: @order, :as => :put, :url => order_path) do |form| %>
          <%= form.hidden_field :is_paid, :value => 'validation' %>
          <% if @order.is_paid == 'validation' %>
            <%= form.label "paiement en validation", class:"btn btn-warning" %>
          <% else %>
            <%= form.submit "paiement en validation", class:"btn btn-primary" %>
          <% end %>
        <% end %>
        <%= form_with(model: @order, :as => :put, :url => order_path) do |form| %>
          <%= form.hidden_field :is_paid, :value => 'payée' %>
          <% if @order.is_paid == 'payée' %>
            <%= form.label "payée", class:"btn btn-warning" %>
          <% else %>
            <%= form.submit "payée", class:"btn btn-primary" %>
          <% end %>
        <% end %>
      </div>
      <div class="status-commande">
        <%= form_with(model: @order, :as => :put, :url => order_path) do |form| %>
          <%= form.hidden_field :is_ready, :value => 'créée' %>
          <% if @order.is_ready == 'créée' %>
            <%= form.label "commande créée", class:"btn btn-warning" %>
          <% else %>
            <%= form.submit "commande créée", class:"btn btn-primary" %>
          <% end %>
        <% end %>
        <%= form_with(model: @order, :as => :put, :url => order_path) do |form| %>
          <%= form.hidden_field :is_ready, :value => 'prête' %>
          <% if @order.is_ready == 'prête' %>
            <%= form.label "commande prête", class:"btn btn-warning" %>
          <% else %>
            <%= form.submit "commande prête", data: { confirm: 'Le client sera notifié êtes vous certain ?' }, class:"btn btn-primary" %>
          <% end %>
        <% end %>
        <%= form_with(model: @order, :as => :put, :url => order_path) do |form| %>
          <%= form.hidden_field :is_ready, :value => 'envoyée' %>
          <% if @order.is_ready == 'envoyée' %>
            <%= form.label "commande envoyée", class:"btn btn-warning" %>
          <% else %>
            <%= form.submit "commande envoyée", data: { confirm: 'Le client sera notifié êtes vous certain ?' }, class:"btn btn-primary" %>
          <% end %>
        <% end %>
        <%= form_with(model: @order, :as => :put, :url => order_path) do |form| %>
          <%= form.hidden_field :is_ready, :value => 'terminée' %>
          <% if @order.is_ready == 'terminée' %>
            <%= form.label "commande terminée", class:"btn btn-warning" %>
          <% else %>
            <%= form.submit "commande terminée", class:"btn btn-primary" %>
          <% end %>
        <% end %>
        <%= form_with(model: @order, :as => :put, :url => order_path) do |form| %>
          <%= form.hidden_field :is_ready, :value => 'annulée' %>
          <% if @order.is_ready == 'annulée' %>
            <%= form.label "commande annulée", class:"btn btn-warning" %>
          <% else %>
            <%= form.submit "commande annulée", data: { confirm: 'Les produits seront remis en stock êtes vous certain ?' }, class:"btn btn-primary" %>
          <% end %>
        <% end %>
      </div>
    </ul>
    <h3>Détail de la commande</h3>
    <table class="table table-bordered table-striped">
      <thead class="table-dark">
        <tr>
          <th>Produit</th>
          <th>Quantité</th>
          <th>Prix Unitaire</th>
          <th>Prix Total</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <% @order.buys.each do |buy| %>
        <tr>
          <td><%= buy.product.name %></td>
          <td><%= buy.quantity %></td>
          <td><%= number_to_currency(buy.price, unit:"CHF", format: "%n %u", delimiter:"'") %></td>
          <td><%= number_to_currency(buy.price * buy.quantity, unit:"CHF", format: "%n %u", delimiter:"'")  %></td>
          <td><%= button_to "-", buy_path(:id => buy.id, :quantity => -1), :method => :put , class:"btn btn-danger" %>
          <%= button_to "+", buy_path(:id => buy.id, :quantity => +1), :method => :put , class:"btn btn-success" %>
          </td>
        </tr>
      <% end %>
    </table>
    <div class="card-body">
      <%= link_to 'Ajouter produit à la commande ➕', new_buy_path + "?order=" + @order.id.to_s, class:"btn btn-success" %>
      <%= link_to 'Modifier la commande ✏️', edit_order_path(@order), class:"btn btn-dark" %>
      <%= link_to 'Retour ⬅️', orders_path, class:"btn btn-dark" %>
    </div>
  </div>
