<div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>Numéro de commande:</strong> <%= @order.id %></li>
    <li class="list-group-item"><strong>Client:</strong> <%= @order.user.first_name + " " + @order.user.last_name  %></li>
    <li class="list-group-item"><strong>Prix total:</strong> <%= @totalOrder %></li>
    <li class="list-group-item"><strong>Réduction:</strong> <%= @order.discount %></li>
    <li class="list-group-item"><strong>Livraison:</strong> <%= @order.shipping %></li>
    <li class="list-group-item"><strong>Type de paiement:</strong> <%= @order.payment %></li>
    <li class="list-group-item"><strong>Prix total après réduction:</strong> <%=  @totalOrderDiscount %></li>
    <li class="list-group-item"><strong>Etat paiement:</strong> <% if @order.is_paid %> Payée <% else %> En attente <% end %></li>
    <li class="list-group-item"><strong>Etat commande:</strong> <% if @order.is_ready %> Terminée <% else %> En attente <% end %></li>
    <li class="list-group-item">
      <%= form_with(model: @order, :as => :put, :url => order_path) do |form| %>
        <%= form.hidden_field :is_paid, :value => !@order.is_paid %>
        <%= form.submit "Commande payée", class:"btn btn-primary" %>
      <% end %>
      <%= form_with(model: @order, :as => :put, :url => order_path) do |form| %>
        <%= form.hidden_field :is_ready, :value => !@order.is_ready %>
        <%= form.submit "Commande terminée", class:"btn btn-primary" %>
      <% end %>
    </ul>
    <h3>Détail de la commande</h3>
    <table class="table table-bordered table-striped">
      <thead class="table-dark">
        <tr>
          <th>Produit</th>
          <th>Quantité</th>
          <th>Prix Unitaire</th>
          <th>Prix Total</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <% @order.buys.each do |b| %>
        <tr>
          <td><%= b.product.name %></td>
          <td><%= b.quantity %></td>
          <td><%= b.product.price %></td>
          <td><%= b.product.price * b.quantity %></td>
          <td><%= link_to 'Modifier', edit_order_path(@order) %></td>
          <td><%= link_to 'Supprimer', @order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      <div class="card-body">
        <%= link_to 'Ajouter produit à la commande ➕', new_buy_path + "?order=" + @order.id.to_s, class:"btn btn-success" %>
        <%= link_to 'Modifier la commande ✏️', edit_order_path(@order), class:"btn btn-dark" %>
        <%= link_to 'Retour ⬅️', orders_path, class:"btn btn-dark" %>
      </div>
    </div>
