<h1> Commander </h1>
<div class="row">
  <div class="col-12 col-md-6 text-center">
    <div class="card">
      <div class="card-header">
        <strong>Addresse de livraison</strong>
      </div>
      <div class="card-body">
        <%= @user.first_name + " " + @user.last_name%><br>
        <%= @user.address%><br>
        <%= @user.postal_code%><br>
        Suisse<br>
        <%= link_to "Modifier", edit_user_registration_path, class:"btn btn-primary" %>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <strong>Choix de livraison</strong>
      </div>
      <div class="card-body">
        <div class="row order-row justify-content-md-center">
          <div class="col-6 col-md-3 text-center">
            <%= link_to image_tag("store.png", class:"boutique-img"), carts_commander_path + '?payment=' + request.query_parameters[:payment].to_s %>
            <div class=<%= check_order_selected(request.query_parameters[:shipping].to_s,'') %>>
              Retrait au magasin (0CHF)
            </div>
          </div>
          <div class="col-6 col-md-3 text-center">
            <%= link_to image_tag("poste.png", class:"boutique-img"), carts_commander_path + '?shipping=true&payment=' + request.query_parameters[:payment].to_s %>
            <div class=<%= check_order_selected(request.query_parameters[:shipping].to_s,'true') %>>
              Par la poste (7CHF)
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 text-center">
    <div class="card">
      <div class="card-header">
        <strong>Paiement</strong>
      </div>
      <div class="card-body">
        <div class="row order-row justify-content-md-center">
          <div class="col-6 col-md-3 text-center">
            <%= link_to image_tag("store.png", class:"boutique-img"), carts_commander_path + '?shipping=' + request.query_parameters[:shipping].to_s %>
            <div class=<%= check_order_selected(request.query_parameters[:payment].to_s,'') %>>
              Au magasin
            </div>
          </div>
          <div class="col-6 col-md-3 text-center">
            <%= link_to image_tag("twint.png", class:"boutique-img"), carts_commander_path + '?shipping=' + request.query_parameters[:shipping].to_s + '&payment=twint' %>
            <div class=<%= check_order_selected(request.query_parameters[:payment].to_s,'twint') %>>
              Twint
            </div>
          </div>
          <div class="col-6 col-md-3 text-center">
            <%= link_to image_tag("card.png", class:"boutique-img"), carts_commander_path + '?shipping=' + request.query_parameters[:shipping].to_s + '&payment=card' %>
            <div class=<%= check_order_selected(request.query_parameters[:payment].to_s,'card') %>>
              Carte de crédit
            </div>
          </div>
          <div class="col-6 col-md-3 text-center">
            <%= link_to image_tag("paypal.png", class:"boutique-img"), carts_commander_path + '?shipping=' + request.query_parameters[:shipping].to_s + '&payment=paypal' %>
            <div class=<%= check_order_selected(request.query_parameters[:payment].to_s,'paypal') %>>
              Paypal
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <strong>Récap</strong>
      </div>
      <div class="card-body">
        Total articles : <%= sub_total(@cart) %> CHF <br>
        Livraison : <%= shipping_total(request.query_parameters[:shipping].to_s) %> CHF <br>
        Total de la commande : <%= sub_total(@cart) + shipping_total(request.query_parameters[:shipping].to_s) %> CHF <br>
        <br>
        <%= form_with(model: @order, :as => :post, :url => carts_path) do |form| %>
          <%= form.hidden_field :shipping, value:request.query_parameters[:shipping] %>
          <%= form.hidden_field :payment, value:request.query_parameters[:payment] %>
          <div class="order-buttons">
            <%= form.submit "Confirmer", class:"btn btn-primary" %>
            <%= link_to "Retour", carts_show_path, class:"btn btn-warning" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
