<h1> Commander </h1>
<div class="row">
  <div class="col-12 col-md-6 text-center">
    <div class="card">
      <div class="card-header">
        <strong>Adresse de livraison</strong>
      </div>
      <div class="card-body">
        <%= @user.first_name + " " + @user.last_name%><br>
        <%= @user.address%><br>
        <%= @user.postal_code%><br>
        Suisse<br>
        <%= link_to "Modifier", edit_user_registration_path, class:"btn btn-primary" %>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <strong>Choix de livraison</strong>
      </div>
      <div class="card-body">
        <div class="row order-row justify-content-md-center">
          <div class="col-6 col-md-3 text-center">
            <%= link_to image_tag("store.png", class:"boutique-img"), carts_commander_path(:shipping => 'magasin', :payment => @payment), :method => :get %>
            <div class=<%= check_order_selected(@shipping,'magasin') %>>
              Retrait au magasin (0CHF)
            </div>
          </div>
          <div class="col-6 col-md-3 text-center">
            <%= link_to image_tag("poste.png", class:"boutique-img"), carts_commander_path(:shipping => 'poste', :payment => @payment), :method => :get %>
            <div class=<%= check_order_selected(@shipping,'poste') %>>
              Par la poste (7CHF)
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 text-center">
    <div class="card">
      <div class="card-header">
        <strong>Paiement</strong>
      </div>
      <div class="card-body">
        <div class="row order-row justify-content-md-center">
          <div class="col-6 col-md-3 text-center">
            <%= link_to image_tag("store.png", class:"boutique-img"), carts_commander_path(:shipping => @shipping, :payment => 'boutique'), :method => :get %>
            <div class=<%= check_order_selected(@payment,'boutique') %>>
              Au magasin
            </div>
          </div>
          <div class="col-6 col-md-3 text-center">
            <%= link_to image_tag("twint.png", class:"boutique-img"), carts_commander_path(:shipping => @shipping, :payment => 'twint'), :method => :get %>
            <div class=<%= check_order_selected(@payment,'twint') %>>
              Twint
            </div>
          </div>
          <div class="col-6 col-md-3 text-center">
            <%= link_to image_tag("bank.png", class:"boutique-img"), carts_commander_path(:shipping => @shipping, :payment => 'virement'), :method => :get %>
            <div class=<%= check_order_selected(@payment,'virement') %>>
              Virement bancaire
            </div>
          </div>
          <div class="col-6 col-md-3 text-center">
            <%= link_to image_tag("paypalcard.png", class:"boutique-img"), carts_commander_path(:shipping => @shipping, :payment => 'paypal'), :method => :get %>
            <div class=<%= check_order_selected(@payment,'paypal') %>>
              Paypal/Carte (frais : 3,3% + 0,45 CHF)
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <strong>Récap</strong>
      </div>
      <div class="card-body">
        Total articles : <%= sub_total(@cart) %> CHF <br>
        Livraison : <%= shipping_total(@shipping) %> CHF <br>
        Total de la commande : <%= sub_total(@cart) + shipping_total(@shipping) %> CHF <br>
        <br>
        <%= form_with(model: @order, :as => :post, :url => carts_path) do |form| %>
          <%= form.hidden_field :shipping, value:@shipping %>
          <%= form.hidden_field :payment, value:@payment %>
          <div class="order-buttons">
            <% if sub_total(@cart) <= 0%>
              <%= link_to "Veuillez ajouter des produits", boutique_index_path, class:"btn btn-primary" %>
            <%else%>
              <%= form.submit "Confirmer", class:"btn btn-primary" %>
            <% end %>
            <%= link_to "Retour", carts_show_path, class:"btn btn-warning" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
