<div class="card">
  <div class="card-body">
    <h2>Panier</h2>
    <table class="table table-bordered table-striped">
      <thead class="table-warning">
        <tr >
          <th>Nom</th>
          <th>Prix</th>
          <th>Quantité</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <tbody>
        <% @cart.line_items.order('id ASC').each do |line_item| %>
          <tr class="table-warning">
            <td><%= line_item.product.name %></td>
            <td><%= line_item.product.price %></td>
            <td>
              <%= button_to "-", line_item_path(:id => line_item.id, :quantity => -1), :method => :put , class:"btn btn-danger" %>
              <%= line_item.quantity %>
              <%= button_to "+", line_item_path(:id => line_item.id, :quantity => +1), :method => :put , class:"btn btn-success" %>
            </td>
            <td><%= button_to "🗑️", line_item_path(:id => line_item.id), :method => :delete , class:"btn btn-warning" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <h3>Total du panier: <%= sub_total(@cart) %> CHF</h3>
    <br>
    <% if user_signed_in? %>
      <% if sub_total(@cart) <= 0%>
        <%= link_to "Veuillez ajouter des produits", boutique_index_path, class:"btn btn-primary" %>
      <%else%>
        <%= link_to "Confirmer et acheter", carts_commander_path+'?payment=boutique&shipping=magasin', class:"btn btn-primary" %>
      <% end %>
    <% else %>
      <%= link_to "Veuillez vous connecter pour acheter", new_user_session_path, class:"btn btn-primary" %>
    <% end %>
    <%= link_to "Vider le panier", cart_path(@cart.id),method: :delete, data: {confirm: "Êtes vous certain de vouloir vider le panier?"}, class:"btn btn-danger" %>
  </div>
</div>
