<div class="card-body">
  Choix de paiement : Virement bancaire
  <%= image_tag("bank.png", class:"boutique-img")%>
  Pour le virement veuillez indiquez le numéro de commande dans le libellé: Commande <%= @order.id.to_s%> <br>
  Voici les informations pour effectuer le virement.
  <div class="card-text">
    <br>
    <strong>Votre IBAN (format électronique)</strong><br>
    CH5000767000S54963150<br>
    <br>
    <strong>Votre IBAN (format papier)</strong><br>
    IBAN CH50 00767 000S 5496 3150<br>
    <br>
    <strong>Adresse bancaire</strong><br>
    Banque Cantonale Vaudoise<br>
    Place St-François 14, CP 300<br>
    1002 Lausanne<br>
    <br>
    <strong>Clearing National</strong><br>
    767<br>
    <br>
    <strong>SWIFT/BIC</strong><br>
    BCVLCH2LXXX<br>
    <br>
    <strong>CCP</strong><br>
    10-725-4<br>
    <br>
    <strong>Après avoir effectué le virement veuillez cliquer sur le bouton 'payé' pour notifier la boutique</strong>
    <br>
    <%= form_with(model: @order, :as => :patch, :url => compte_path(:id => @order.id)) do |formB| %>
      <%= formB.hidden_field :is_paid, :value => 'validation' %>
      <%= formB.hidden_field :id, :value => @order.id %>
      <%= formB.submit "payé", data: { confirm: 'Vous ne pourrez plus changer de méthode de paiement êtes vous certain de vouloir confirmer le paiement ?' }, class:"btn btn-primary" %>
    <% end %>
  </div>
  <div class="card-body">
    <strong>Changer de méthode de paiement</strong>
    <div class="row">
      <div class="col-12 col-md-4">
        <%= form_with(model: @order, :as => :patch, :url => compte_path(:id => @order.id)) do |formB| %>
          <%= formB.hidden_field :payment, :value => 'boutique' %>
          <%= formB.hidden_field :id, :value => @order.id %>
          <%= image_submit_tag "store.png", class:"boutique-img" %>
        <% end %>
      </div>
      <div class="col-12 col-md-4">
        <%= form_with(model: @order, :as => :patch, :url => compte_path(:id => @order.id)) do |formB| %>
          <%= formB.hidden_field :payment, :value => 'paypal' %>
          <%= formB.hidden_field :id, :value => @order.id %>
          <%= image_submit_tag "paypalcard.png", class:"boutique-img" %>
        <% end %>
      </div>
      <div class="col-12 col-md-4">
        <%= form_with(model: @order, :as => :patch, :url => compte_path(:id => @order.id)) do |formB| %>
          <%= formB.hidden_field :payment, :value => 'twint' %>
          <%= formB.hidden_field :id, :value => @order.id %>
          <%= image_submit_tag "twint.png", class:"boutique-img" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
