<div class="card-body">
  Choix de paiement : Magasin
  <%= image_tag("store.png", class:"boutique-img")%>
  Le paiement sera effectué en magasin au retrait.
  <div class="card-body">
    <strong>Changer de méthode de paiement</strong>
    <div class="row">
      <div class="col-12 col-md-4">
        <%= form_with(model: @order, :as => :patch, :url => compte_path(:id => @order.id)) do |formB| %>
          <%= formB.hidden_field :payment, :value => 'paypal' %>
          <%= formB.hidden_field :id, :value => @order.id %>
          <%= image_submit_tag "paypalcard.png", class:"boutique-img" %>
        <% end %>
      </div>
      <div class="col-12 col-md-4">
        <%= form_with(model: @order, :as => :patch, :url => compte_path(:id => @order.id)) do |formB| %>
          <%= formB.hidden_field :payment, :value => 'twint' %>
          <%= formB.hidden_field :id, :value => @order.id %>
          <%= image_submit_tag "twint.png", class:"boutique-img" %>
        <% end %>
      </div>
      <div class="col-12 col-md-4">
        <%= form_with(model: @order, :as => :patch, :url => compte_path(:id => @order.id)) do |formB| %>
          <%= formB.hidden_field :payment, :value => 'virement' %>
          <%= formB.hidden_field :id, :value => @order.id %>
          <%= image_submit_tag "bank.png", class:"boutique-img" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
