<div class="card text-dark bg-light mb-3">
  <div class="card-header">
    <h2>Compte utilisateur</h2>
  </div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href=<%= edit_user_registration_path %> >Éditer le compte</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page"  href=<%= compte_commandes_path %> >Commandes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href=<%= compte_evenements_path %> >Évènements</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href=<%= compte_wishlist_path %>>Liste d'envies</a>
    </li>
  </ul>
  <div class="card-body text-center">
    <h2><%= "Paiement de la commande numéro " + @order.id.to_s %></h2>
    <h4></strong>Montant à payer : <%= order_total(@order).to_d  %> CHF</strong></h4>

<% if @order.is_paid == 'attente' %>
  <% if @order.payment == 'paypal' %>
    <%= render 'paiement_paypal' %>
  <% elsif @order.payment == 'boutique' %>
    <%= render 'paiement_magasin' %>
  <% elsif @order.payment == 'twint' %>
    <%= render 'paiement_twint' %>
  <% elsif @order.payment == 'virement' %>
    <%= render 'paiement_bank' %>
  <% end %>
<% else %>
  <h3>La commande a été payée</h3>
<% end %>
</div>
</div>
