<div class="card text-dark bg-light mb-3">
  <div class="card-header">
    <h2>Compte utilisateur</h2>
  </div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href=<%= edit_user_registration_path %> >Éditer le compte</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page"  href=<%= compte_commandes_path %> >Commandes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href=<%= compte_evenements_path %> >Évènements</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href=<%= compte_wishlist_path %>>Liste d'envies</a>
    </li>
  </ul>
  <div class="card-body">
    <h2><%= "Détails commande numéro " + @commande.id.to_s %></h2>
    <div class="card">
      <div class="card-header">
        <strong>Adresse de livraison</strong>
      </div>
      <div class="card-body">
        <%= @user.first_name + " " + @user.last_name%><br>
        <%= @user.address%><br>
        <%= @user.city%><br>
        <%= @user.postal_code%><br>
        Suisse<br>
        Téléphone : <%= @user.phone%><br>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <strong>Informations</strong>
      </div>
      <div class="card-body">
        <strong>Livraison: </strong>
        <% if @commande.shipping == 'poste' %>
          Poste<br>
          <strong>Numéro de suivi: </strong> <%= @commande.tracking %>
        <% else %>
          Retrait au magasin
        <% end %><br>
        <div class="compte-paiement">
          <strong>Paiement: </strong><%= @commande.payment %><br>
          <% if @commande.is_paid == 'attente' %>
            <strong>Vous pouvez changer le moyen de paiement et payer :</strong> <%= link_to 'Payer', compte_commandes_paiement_path + '?id=' + @commande.id.to_s, target: :_blank, class:"btn btn-warning" %>
          <% end %>
        </div>
        <strong>Etat du paiement: </strong>
        <%= @commande.is_paid %><br>
        <strong>Etat de la commande: </strong>
        <%= @commande.is_ready %><br>
        <strong>Date de la commande: </strong><%= @commande.created_at.in_time_zone("Paris") %><br>
        <% if @commande.discount %>
          <strong>Réduction: </strong><%= @commande.discount %> CHF<br>
        <% end %>
        <strong>Montant total de la commande: </strong><%= order_total(@commande).to_d  %> CHF<br>
      </div>
    </div>
    <table class="table table-bordered table-striped">
      <thead class="table-warning">
        <tr>
          <th>Produit</th>
          <th>Prix unitaire</th>
          <th>Quantité</th>
          <th>Prix total</th>
        </tr>
      </thead>
      <tbody class="table-warning">
        <% @produits.each do |buy| %>
          <tr >
            <td><%= link_to buy.product.name, boutique_produit_path + "/?id=" + buy.product.id.to_s %></td>
            <td><%= buy.price %></td>
            <td><%= buy.quantity %></td>
            <td><%= buy.price * buy.quantity  %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>