<div class="card text-dark bg-light mb-3">
  <div class="card-header">
    <h2>Compte utilisateur</h2>
  </div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href=<%= edit_user_registration_path %> >Éditer le compte</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page"  href=<%= compte_commandes_path %> >Commandes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href=<%= compte_evenements_path %> >Évènements</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href=<%= compte_wishlist_path %>>Liste d'envies</a>
    </li>
  </ul>
  <div class="card-body">
    <h2>Liste des commandes</h2>
    <table class="table table-bordered table-striped">
      <thead class="table-warning">
        <tr>
          <th>No</th>
          <th>Etat</th>
          <th>Montant</th>
          <th>Détails</th>
        </tr>
      </thead>
      <tbody class="table-warning">
        <% @commandes.each do |commande| %>
          <tr >
            <td><%= commande.id %></td>
            <td><%= commande.is_ready %></td>
            <td><%= order_total(commande) %> CHF</td>
            <td><%= link_to 'Voir', compte_commandes_detail_path + "?id=" + commande.id.to_s, class:"btn btn-dark" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
