<h1>Nouvelle commande numéro <%= @order.id %></h1>
<p>Bonjour,
  <br>
  <br>
  Voici le récapitulatif de la commande :</p>
<div class="card-body">
  <h2><%= "Détails commande numéro " + @order.id.to_s %></h2>
  <div class="card">
    <div class="card-header">
      <strong>Adresse de livraison</strong>
    </div>
    <div class="card-body">
      <%= @order.user.first_name + " " + @order.user.last_name%><br>
      <%= @order.user.address%><br>
      <%= @order.user.city%><br>
      <%= @order.user.postal_code%><br>
      Suisse<br>
      Téléphone : <%= @order.user.phone%><br>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <strong>Informations</strong>
    </div>
    <div class="card-body">
      <strong>Livraison: </strong>
      <% if @order.shipping == 'poste' %>
        Poste<br>
        <strong>Numéro de suivi: </strong> <%= @order.tracking %>
      <% else %>
        Retrait au magasin
      <% end %><br>
      <strong>Paiement: </strong><%= @order.payment %><br>
      <strong>Etat du paiement: </strong>
      <%= @order.is_paid %><br>
      <strong>Etat de la commande: </strong>
      <%= @order.is_ready %><br>
      <strong>Date de la commande: </strong><%= @order.created_at %><br>
      <% if @order.discount %>
        <strong>Réduction: </strong><%= number_to_currency(@order.discount, unit:"CHF", format: "%n %u", delimiter:"'") %><br>
      <% end %>
      <strong>Montant total de la commande: </strong><%= number_to_currency(@total, unit:"CHF", format: "%n %u", delimiter:"'")  %><br>
    </div>
  </div>
  <table class="table table-bordered table-striped">
    <thead class="table-warning">
      <tr>
        <th>Produit</th>
        <th>Prix unitaire</th>
        <th>Quantité</th>
        <th>Prix total</th>
      </tr>
    </thead>
    <tbody class="table-warning">
      <% @buys.each do |buy| %>
        <tr >
          <td><%= buy.product.name %></td>
          <td><%= number_to_currency(buy.price, unit:"CHF", format: "%n %u", delimiter:"'") %></td>
          <td><%= buy.quantity %></td>
          <td><%= number_to_currency(buy.price * buy.quantity, unit:"CHF", format: "%n %u", delimiter:"'")  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
