<%= form_with(model: customisation) do |form| %>
  <% if customisation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customisation.errors.count, "error") %> prohibited this customisation from being saved:</h2>
      <ul>
        <% customisation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card">
    <% if customisation.image.attached? %>
      <%= image_tag customisation.image %>
    <% end %>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Nom:</strong> <%= form.text_field :name, class:"form-control", :required => true %></li>
      <li class="list-group-item"><strong>Image:</strong><%= form.file_field :image, class:"form-control" %></li>
      <li class="list-group-item"><strong>Valeur:</strong> <%= form.text_field :value, class:"form-control" %></li>
    </ul>
    <div class="card-body">
      <div class="actions">
        <%= form.submit class:"btn btn-dark"  %>
      </div>
    </div>
  </div>
<% end %>
