<%= render 'navtab' %>
<p id="notice"><%= notice %></p>

<h1>Personnalisation</h1>

<table class="table table-bordered table-striped">
  <thead class="table-dark">
    <tr>
      <th>Nom</th>
      <th>Valeur</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @customisations.each do |customisation| %>
      <tr>
        <td><%= customisation.name %></td>
        <td><%= customisation.value %></td>
        <td><%= link_to 'Edit', edit_customisation_path(customisation) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

