<%= render 'navtab' %>
<p id="notice"><%= notice %></p>
<h1>Catégories</h1>
<table class="table table-bordered table-striped">
  <thead class="table-dark">
    <tr>
      <th>Nom</th>
      <th>Affiché?</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td>
          <% if category.available %>
            Affiché
          <% else %>
            Caché
          <% end %>
        </td>
        <td><%= link_to '✏️', edit_category_path(category) %></td>
        <td>
          <%= form_with(model: category, :method => :delete, :url => category_path(:id => category.id)) do |form| %>
            <%= form.select :id, @categoriesList, {} %>
            <%= form.submit "CHANGER ET SUPPRIMER", class:"btn btn-danger", data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @categories %>
<br>
<%= link_to 'Créée catégorie', new_category_path, class:"btn btn-dark" %>
