  
<div class="card">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active"  href=<%= products_path %> >Produits</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"   href=<%= orders_path %> >Commandes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href=<%= events_path %> >Évènements</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href=<%= categories_path %> >Catégories</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href=<%= customisations_path %>>Personnalisation</a>
    </li>
  </ul>
</div>
