<%= render 'navtab' %>
<h1>Produits</h1>
<div class="card">
  <div class="card-body">
    <%= form_with url: products_path, method: :get do |form| %>
      <%= form.label :tri, "Trier:", class:"form-label" %>
      <%= form.select :tri, options_for_select(["Date décroissant", "Date croissant", "Prix décroissant", "Prix croissant"]), class:"form-select" %>
      <%= form.text_field :query, placeholder:"Chercher par nom" %>
      <%= form.label :category, "Catégorie:", class:"form-label" %>
      <%= form.select :category, @categories,selected:request.query_parameters[:category], class:"form-select" %>
      <%= form.label :subcategory, "Sous-catégorie:", class:"form-label" %>
      <%= form.select :subcategory, @subcategories,selected:request.query_parameters[:subcategory], class:"form-select" %>
      <%= form.submit "Filtrer", class:"btn btn-primary" %>
      <%= link_to "Stock bas("+low_stock_count.to_s+")", products_path + "?low_stock=true",  class:"btn btn-danger" %>
      <%= link_to "Rendre visible tous les produits", products_path + "?action=show", data: { confirm: 'Êtes vous certain de vouloir rendre tous les produits visible ?' },  class:"btn btn-success" %>
    <% end %>
  </div>
</div>
<table class="table table-bordered table-striped">
  <thead class="table-dark">
    <tr>
      <th>Id</th>
      <th>Nom</th>
      <th>Date de sortie</th>
      <th>Catégorie</th>
      <th>Sous-catégorie</th>
      <th>Prix</th>
      <th>Quantité</th>
      <th>Stock Minimun</th>
      <th>Commandable</th>
      <th>Affiché?</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= product.date.strftime('%d/%m/%Y') %></td>
        <td><%= product.category.name %></td>
        <td><%= product.subcategory.name %></td>
        <td><%= product.price %></td>
        <td>
          <%= form_with(model: product, :as => :put, :url => product_path(:id => product.id)) do |form| %>
            <%= form.text_field :quantity, size:3 %>
            <%= form.submit "✔️", class:"btn btn-success"%>
          <% end %>
        </td>
        <td><%= product.min_stock %></td>
        <td><% if product.available %>
            Disponible
          <% else %>
            Pas disponible
          <% end %></td>
        <td><% if product.show %>
            Oui
          <% else %>
            Non
          <% end %></td>
        <td><%= link_to '🔎', product %></td>
        <td><%= link_to '✏️', edit_product_path(product) %></td>
        <td><%= link_to '📋', new_product_path + '?id=' + product.id.to_s %></td>
        <td><%= link_to '🗑️', product, method: :delete, data: { confirm: 'Êtes vous certain de vouloir le supprimer ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @products %>
<br>
<%= link_to 'Crée produit', new_product_path, class:"btn btn-dark" %>
