<div class="card text-center">
  <header class="card-header text-center fs-2"><%= @event.name %></header>
  <div class="card-body">
    <div class="columns">
      <div class="column">
        <div class="boutique-img">
          <% if @event.image.attached? %>
            <%= image_tag @event.image, alt:"noimage", class:"boutique-img" %>
          <% else %>
            <%= image_tag "noimage.png", class:"boutique-img" %>
          <% end %>
        </div>
      </div>
      <div class="column">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Date:</strong> <%= @event.date.strftime('%d/%m/%Y') %></li>
          <li class="list-group-item"><strong>Heure de début:</strong> <%= @event.time %></li>
          <li class="list-group-item"><strong>Places:</strong> <%= @event.places %><br>
          </li>
          <li class="list-group-item"><strong>Places restantes:</strong> <%= @placeRestantes %><br>
          </li>
          <li class="list-group-item"><strong>Prix (paiement au magasin):</strong> <%= @event.price %> CHF</li>
          <li class="list-group-item"><strong>
              <div class="d-grid gap-2 col-6 mx-auto">
                <% if Date.today > @event.date %>
                  <button class="btn btn-warning disabled">Terminé</button>
                <% elsif current_user == nil %>
                  <%= link_to 'Connexion', new_user_session_path, class:"btn btn-primary" %>
                <% elsif @participe %>
                  <button class="btn btn-success disabled">Inscrit</button>
                <% elsif @placeRestantes < 1 %>
                  <button class="btn btn-warning disabled">Aucune place disponible</button>
                <% else %>
                  <%= form_with(model: @participant, :as => :post, :url => evenements_path) do |form| %>
                    <%= form.hidden_field :event_id %>
                    <%= form.submit "S'inscrire", data: { confirm: 'Voulez-vous vous inscrire ?' } , class:"btn btn-primary" %>
                  <% end %>
                <% end %>
              </div>
            </li>
            <% if @event.result != nil %>
              <li class="list-group-item"><strong>
                  <% if @event.result.attached? %>
                    <%= link_to 'Résultat', @event.result, target: :_blank, class:"btn btn-success" %>
                  <% else %>
                    <button class="btn btn-warning disabled">Aucun résultat</button>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body">
        <h3 class="card-title"> DESCRIPTION </h3>
        <%= simple_format h(@event.description), class:'evenement-description' %>
      </div>
    </div>
  </div>
