<h1>Evenements</h1>
<%= form_with url: evenements_index_path, method: :get do |form| %>
  <%= form.select :month, options_for_select(["Janvier", "Fevrier", "Mars", "Avril"]), class:"form-select" %>
  <%= form.select :year, options_for_select(2020..2022), class:"form-select" %>
  <%= form.text_field :query, placeholder:"Chercher par nom" %>
  <%= form.submit "Search" %>
<% end %>
<ul class="list-group">
  <% @events.each do |e| %>
    <li class="list-group-item">
      <h5 class="card-title"><%= e.name %></h5>
      <% if e.image.attached? %>
        <%= image_tag e.image, class:"boutique-img" %>
      <% else %>
        <%= image_tag "noimage", class:"boutique-img" %>
      <% end %>
      <p class="card-text">PRIX : <%= e.price %> CHF</p>
      <%= link_to 'Détails', evenements_evenement_path + "?id=" + e.id.to_s, class:"btn btn-primary" %>
    </li>
  <% end %>
</ul>
